body {
    background: white;
}
.navbar {
    width:100%;
    display: flex;
    flex-direction: column;
}

    .navbar .container {
        display: flex;
        flex-direction: row;
    }
.navbar-brands {
    color: #776B5D;
    text-decoration: none;
    font-weight: bold;
}

.nav-link{
    color: #696969;
}
    .nav-link:hover {
        color: #d2c0b2;
        transition: color 0.3s;
    }

.navbar-middle {
    width: 100%;
    height: 200px;
    background: #f4efeb;
}
    .navbar-middle .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
    form #searchInp {
        width: 50%;
        padding: 10px 20px;
        border-radius: 20px;
        border: none;
        outline: none;
        margin-right: 10px;
        box-shadow: -1px 1px 5px #d2c0b2;
    }

    form #searchBtn {
        width: 45px;
        height: 45px;
        padding: 10px;
        border-radius: 50%;
        border: none;
        background-color: #d2c0b2;
    }
.navbar-footer {
    width: 100%;
    height: 40px;
}
    